.mainContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    &>ul{
        width: 40%;
        list-style: none;
        li{
            width: 100%;
            height: 100px;
            
        }
    }
}
.contentProgress{
    width: 100%;
    display: flex;
              
}
.pecentTitle{
        margin-left: 2rem;
        margin-right: 2rem;
            b{
            font-size: 3rem;
            color: #47BA71;
            }
            span{
                font-size: 2rem;
                  color: rgba(0, 0, 0, 0.5);
            }
        }
.GMVContent{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
        p{
            margin-bottom: 10px;
            &>span{
                  margin-right: 1rem;
                  b{
                    font-size: 14px;
                  }
            }
          
        }
}
.subTextH{
    color: #000000;
}
.subTextL{
     color: #47BA71;
}
.chartMain{
    width: 100%;
    height: 350px;
}
.chartsContent{
    width: 55%;
    position: relative;
}
.processHeight{
    height: 6px;
}
.chooseTabStyle{
    background-color: #47BA71;
}
.tbChat{
    width: 98%;
    display: flex;
    // margin-left: 7.5%;
    justify-content: center;
    margin-bottom: 4%;
    position: absolute;
    top: 30px;
    &>b{
        display: block;
        width: 7.5%;
        height: 44px;
        line-height: 44px;
        color: #888;
        font-weight: normal;
    }
    span{
        display: flex;
        align-items: center;
        justify-content: center;
         b{
            display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #d7e8e1;
        text-align: center;
       line-height: 40px;
     
       &:last-child{
        margin-right: 0px;
       }
    }
    }
   
}